<table class="table table-bordered">
	<tr>
		<th ng-repeat="header in $ctrl.headers"> {{header}} </th>
	</tr>
	<tr ng-repeat="hour in $ctrl.hours">
		<td> {{hour}} </td>
		<td ng-repeat="day in $ctrl.days"  ui-on-Drop="$ctrl.onDrop($data, day, hour)" ng-dblclick="$ctrl.showEditModal(day, hour)">
			<schedule-item 	item="$ctrl.schedule.getItem(day, hour)" 
							ui-draggable="true"
							drag="$ctrl.schedule.getItem(day, hour)"
							on-drop-success="$ctrl.onDropSuccess(day, hour)"
							ng-click="$ctrl.onSelectItem(day, hour)"
							>
			</schedule-item>
		</td>
	</tr>
</table>